body{
    overflow: hidden;
}
h1{
    text-align: center;
    position: fixed;
    top: -22px;
    left: 0px;
    color: darkmagenta;
    height: 63px;
    width: 100%;
    background-color: #eed3ac;
    text-decoration: underline;  
}
ul{
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    background: blanchedalmond;
    box-shadow: 2px 0px 5px;
    display: flex;
    width: 100vw;
    height: 12%;
    justify-content: space-around;
    align-content: center;
    margin-top: 63px;
   
    
}
ul li{
        padding-top: 26px;
}
ul li a{
    color: coral;
    text-decoration: none;
    font-size: 20px;
 
}
ul li a:hover{
    background-color: white;
    color: rgb(135, 71, 93);
}
section{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: white;
}

#current-time{
    height: 100vh;
    width: 100vw;
    background-color: lightcyan;
}
#section2{
    background-color: rgb(115, 145, 139);
    height: 100vh;
    margin-top: 556px;
    display: inline-block;
}
#section3{
    height: 100vh;
    width: 100vw;
    background-color: rgb(138, 169, 216);
}
#current-time{
    font-weight: 700;
    font-size: 6rem;
}
h2{ 
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top:14rem;
    font-size: 30px;
}
#timer{
    font-weight: 700;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
}
.button{
    height: 58px;
    width: 100px;
    border-radius: 16px;
}
#button-div{
    display: flex;
    justify-content: space-around;
    margin-top: 92px;
}
#alarm{
    height: 81%;
}
